<section class="container">

    <div class="jumbotron">
        <h1>CRUD Application</h1>
        <ul>
            <li><strong>firebase</strong> for data persistence</li>
            <li><strong>bootstrap</strong> for ui components and responsive design</li>
            <li><strong>ui-router</strong> for nested and advanced routing</li>
            <li><strong>prismjs</strong> for syntax highlighting</li>
        </ul>
        <p>
            <a class="btn btn-lg btn-primary" ui-sref="snippets.list" role="button">View snippets &raquo;</a>
        </p>
    </div>

</section>